In [14]:
"""
Using pandas to better understand the bike share dataset.
"""

import pandas as pd
df = pd.read_csv("chicago.csv")

In [15]:
# start by viewing the first few rows of the dataset.

print(df.head(10))

#noticed that there NaN values under Gender and Birth Year columns.

   Unnamed: 0           Start Time             End Time  Trip Duration  \
0     1423854  2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915  2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031  2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487  2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207  2017-01-17 14:53:07  2017-01-17 15:02:01            534
5     1473887  2017-06-26 09:01:20  2017-06-26 09:11:06            586
6      961916  2017-05-26 09:41:44  2017-05-26 09:46:25            281
7       65924  2017-01-21 14:28:38  2017-01-21 14:40:41            723
8      606841  2017-04-20 16:08:51  2017-04-20 16:20:20            689
9      135470  2017-02-06 18:00:47  2017-02-06 18:09:00            493

                   Start Station                    End Station   User Type  \
0           Wood St & Hubbard St        Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake   Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St            Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave   St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St   Desplaines St & Jackson Blvd  Subscriber
5   Clinton St & Washington Blvd           Canal St & Taylor St  Subscriber
6          Ashland Ave & Lake St           Wood St & Hubbard St  Subscriber
7     Larrabee St & Kingsbury St     Larrabee St & Armitage Ave    Customer
8         Sedgwick St & Huron St  Halsted St & Blackhawk St (*)  Subscriber
9   Stetson Ave & South Water St   Clinton St & Washington Blvd  Subscriber

   Gender  Birth Year
0    Male      1992.0
1  Female      1992.0
2    Male      1981.0
3    Male      1986.0
4    Male      1975.0
5    Male      1990.0
6  Female      1983.0
7     NaN         NaN
8    Male      1984.0
9    Male      1979.0

In [16]:
# view what are the columns in this dataset

print(df.columns)

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [17]:
# view the different types of values in each column

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
Unnamed: 0       300000 non-null int64
Start Time       300000 non-null object
End Time         300000 non-null object
Trip Duration    300000 non-null int64
Start Station    300000 non-null object
End Station      300000 non-null object
User Type        300000 non-null object
Gender           238948 non-null object
Birth Year       238981 non-null float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB
None